@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-position: 100px 0;
  background: url('../images/background.jpeg')no-repeat;
  background-position: center;
  background-size: cover;

  /* background: linear-gradient(125deg, #71b7e6, #9b59b6); */
}

.container {
  max-width: 700px;
  width: 100%;
  /* background: #fff; */
  /* background:#e0f0f5; */
  backdrop-filter: blur(3px);
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #59a5b6);
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .usecase-details .usecase-title {
  font-size: 20px;
  font-weight: 500;
}

form .usecase-details .category {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.usecase-details .category label{
    display: flex;
    align-items: center;
}

.usecase-details .category .dot {
  height: 18px;
  width: 18px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two {
  border-color: #d9d9d9;
  background-color: #9b59b6;
}

form  input[type="radio"]
{
    display: none;
}

form .button
{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height : 100%;
    width : 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

@media (max_widht: 584px)
{
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom : 15px;
        width : 100%;
    }
    form .gender-details .category{
        width : 100%;
    }
    .container form .user-details{
        max-height:  300px;
        overflow-y : scroll;
    }
    .user-details ::-webkit-scrollbar{
        width: 100;
    }
}

.end{
  justify-content: center;
  text-align: center;
}